/* styles.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
  background-color: #abfabf;
  color: #333;
  line-height: 1.6;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2tPcPF8MOpAa_cnefJpxzS6QBcsosWFpBjg&s');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 2.5em;
  color: #1a237e;
  margin-bottom: 5px;
  text-align: center
}

h2 {
  font-size: 1.8em;
  border-bottom: 2px solid #088ac7;
  padding-bottom: 5px;
  margin-top: 40px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.3em;
  color: #05adf0;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

p {
  font-size: 1em;
  text-align: center
}

li{
  font-size: 1em;
}

a {
  color: #0d47a1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 30px 0;
}

strong {
  color: #212121;
}



@media screen and (max-width: 768px) {
  body {
    margin: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}